# ignore files

# PyCharm
/_windows
/codestyles
colors.scheme.xml
debugger.xml
find.xml
github.xml
wsl.distributions.xml

# IntelliJ
.idea/
*.iml
out/
.idea_modules/

# python compile files
*.pyc

# log files
*.log